:root {
  --background-cards: #424240;
  --text-color: #ffff;
  --sun-background-color:#F2EE6A;
  --moon-background-color:#8C48DE;
  --text-color-card: #b5b4b8;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
